html {
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}

.fa,
.fa-stack {
    display: inline-block
}

.btn,
.btn-flat,
.btn-large,
.collapsible-header,
.switch,
.switch *,
.waves-effect,
a {
    -webkit-tap-highlight-color: transparent
}

.fa-fw,
.fa-li,
.pagination li,
table.centered tbody tr td,
table.centered thead tr th {
    text-align: center
}

.fa-ul,
li,
ul:not(.browser-default)>li {
    list-style-type: none
}

.btn,
.btn-large,
.header-logo a,
a {
    text-decoration: none
}

@font-face {
    font-family: 'font-awesome';
    src:  url('../fonts/font-awesome/font-awesome.eot?7ha2vg');
    src:  url('../fonts/font-awesome/font-awesome.eot?7ha2vg#iefix') format('embedded-opentype'),
    url('../fonts/font-awesome/font-awesome.ttf?7ha2vg') format('truetype'),
    url('../fonts/font-awesome/font-awesome.woff?7ha2vg') format('woff'),
    url('../fonts/font-awesome/font-awesome.svg?7ha2vg#font-awesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cooper Hewitt";
    font-weight: 700;
    src: url("../fonts/CooperHewitt-Bold.otf") format("opentype");
}

html {
    color: rgba(0, 0, 0, .87)
}

[class^="fa-"], [class*=" fa-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'font-awesome' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-heart:before {
    content: "\f004";
}
.fa-tags:before {
    content: "\f02c";
}
.fa-mail-forward:before {
    content: "\f064";
}
.fa-share:before {
    content: "\f064";
}
.fa-leaf:before {
    content: "\f06c";
}
.fa-archive:before {
    content: "\f187";
}
.fa-lock:before {
    content: "\f023";
}
.fa-globe:before {
    content: "\f0ac";
}
.fa-group:before {
    content: "\f0c0";
}
.fa-users:before {
    content: "\f0c0";
}
.fa-mobile:before {
    content: "\f10b";
}
.fa-mobile-phone:before {
    content: "\f10b";
}
.fa-github-alt:before {
    content: "\f113";
}
.fa-cubes:before {
    content: "\f1b3";
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

a {
    background-color: transparent;
    color: #039be5
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.row .col,
span.badge {
    -webkit-box-sizing: border-box
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none
}

.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

i {
    line-height: inherit
}

@media only screen and (max-width:600px) {
    .hide-on-small-and-down,
    .hide-on-small-only {
        display: none!important
    }
}

@media only screen and (max-width:992px) {
    .hide-on-med-and-down {
        display: none!important
    }
}

@media only screen and (min-width:601px) {
    .hide-on-med-and-up {
        display: none!important
    }
}

@media only screen and (min-width:600px) and (max-width:992px) {
    .hide-on-med-only {
        display: none!important
    }
}

@media only screen and (min-width:993px) {
    .hide-on-large-only {
        display: none!important
    }
    .show-on-large {
        display: block!important
    }
}

@media only screen and (min-width:600px) and (max-width:992px) {
    .show-on-medium {
        display: block!important
    }
}

@media only screen and (max-width:600px) {
    .show-on-small {
        display: block!important
    }
    .center-on-small-only {
        text-align: center
    }
}

@media only screen and (min-width:601px) {
    .show-on-medium-and-up {
        display: block!important
    }
}

@media only screen and (max-width:992px) {
    .show-on-medium-and-down {
        display: block !important
    }
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }
    100%,
    60% {
        left: 100%;
        right: -90%
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }
    100%,
    60% {
        left: 100%;
        right: -90%
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }
    100%,
    60% {
        left: 107%;
        right: -8%
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }
    100%,
    60% {
        left: 107%;
        right: -8%
    }
}

.row .col.s1,
.row .col.s10,
.row .col.s11,
.row .col.s12,
.row .col.s2,
.row .col.s3,
.row .col.s4,
.row .col.s5,
.row .col.s7,
.row .col.s8,
.row .col.s9 {
    left: auto;
    right: auto
}

.hide {
    display: none !important
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%
}

@media only screen and (min-width:601px) {
    .container {
        width: 85%
    }
}

@media only screen and (min-width:993px) {
    .container {
        width: 70%
    }
}

.container .row {
    margin-left: -.75rem;
    margin-right: -.75rem
}

.row,
.row .col.s1,
.row .col.s10,
.row .col.s11,
.row .col.s12,
.row .col.s2,
.row .col.s3,
.row .col.s4,
.row .col.s5,
.row .col.s7,
.row .col.s8,
.row .col.s9 {
    margin-left: auto
}

.row {
    margin-right: auto
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.row .col {
    float: left;
    box-sizing: border-box;
    min-height: 1px
}

.row .col[class*=push-],
.row .col[class*=pull-] {
    position: relative
}

.row .col.s1 {
    width: 8.3333333333%
}

.row .col.s2 {
    width: 16.6666666667%
}

.row .col.s3 {
    width: 25%
}

.row .col.s4 {
    width: 33.3333333333%
}

.row .col.s5 {
    width: 41.6666666667%
}

.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s7 {
    width: 58.3333333333%
}

.row .col.s8 {
    width: 66.6666666667%
}

.row .col.s9 {
    width: 75%
}

.row .col.s10 {
    width: 83.3333333333%
}

.row .col.s11 {
    width: 91.6666666667%
}

.row .col.s12 {
    width: 100%
}

.row .col.offset-s1 {
    margin-left: 8.3333333333%
}

.row .col.pull-s1 {
    right: 8.3333333333%
}

.row .col.push-s1 {
    left: 8.3333333333%
}

.row .col.offset-s2 {
    margin-left: 16.6666666667%
}

.row .col.pull-s2 {
    right: 16.6666666667%
}

.row .col.push-s2 {
    left: 16.6666666667%
}

.row .col.offset-s3 {
    margin-left: 25%
}

.row .col.pull-s3 {
    right: 25%
}

.row .col.push-s3 {
    left: 25%
}

.row .col.offset-s4 {
    margin-left: 33.3333333333%
}

.row .col.pull-s4 {
    right: 33.3333333333%
}

.row .col.push-s4 {
    left: 33.3333333333%
}

.row .col.offset-s5 {
    margin-left: 41.6666666667%
}

.row .col.pull-s5 {
    right: 41.6666666667%
}

.row .col.push-s5 {
    left: 41.6666666667%
}

.row .col.offset-s6 {
    margin-left: 50%
}

.row .col.pull-s6 {
    right: 50%
}

.row .col.push-s6 {
    left: 50%
}

.row .col.offset-s7 {
    margin-left: 58.3333333333%
}

.row .col.pull-s7 {
    right: 58.3333333333%
}

.row .col.push-s7 {
    left: 58.3333333333%
}

.row .col.offset-s8 {
    margin-left: 66.6666666667%
}

.row .col.pull-s8 {
    right: 66.6666666667%
}

.row .col.push-s8 {
    left: 66.6666666667%
}

.row .col.offset-s9 {
    margin-left: 75%
}

.row .col.pull-s9 {
    right: 75%
}

.row .col.push-s9 {
    left: 75%
}

.row .col.offset-s10 {
    margin-left: 83.3333333333%
}

.row .col.pull-s10 {
    right: 83.3333333333%
}

.row .col.push-s10 {
    left: 83.3333333333%
}

.row .col.offset-s11 {
    margin-left: 91.6666666667%
}

.row .col.pull-s11 {
    right: 91.6666666667%
}

.row .col.push-s11 {
    left: 91.6666666667%
}

.row .col.offset-s12 {
    margin-left: 100%
}

.row .col.pull-s12 {
    right: 100%
}

.row .col.push-s12 {
    left: 100%
}

@media only screen and (min-width:601px) {
    .row .col.m1,
    .row .col.m10,
    .row .col.m11,
    .row .col.m12,
    .row .col.m2,
    .row .col.m3,
    .row .col.m4,
    .row .col.m5,
    .row .col.m7,
    .row .col.m8,
    .row .col.m9 {
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m1 {
        width: 8.3333333333%
    }
    .row .col.m2 {
        width: 16.6666666667%
    }
    .row .col.m3 {
        width: 25%
    }
    .row .col.m4 {
        width: 33.3333333333%
    }
    .row .col.m5 {
        width: 41.6666666667%
    }
    .row .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m7 {
        width: 58.3333333333%
    }
    .row .col.m8 {
        width: 66.6666666667%
    }
    .row .col.m9 {
        width: 75%
    }
    .row .col.m10 {
        width: 83.3333333333%
    }
    .row .col.m11 {
        width: 91.6666666667%
    }
    .row .col.m12 {
        width: 100%
    }
    .row .col.offset-m1 {
        margin-left: 8.3333333333%
    }
    .row .col.pull-m1 {
        right: 8.3333333333%
    }
    .row .col.push-m1 {
        left: 8.3333333333%
    }
    .row .col.offset-m2 {
        margin-left: 16.6666666667%
    }
    .row .col.pull-m2 {
        right: 16.6666666667%
    }
    .row .col.push-m2 {
        left: 16.6666666667%
    }
    .row .col.offset-m3 {
        margin-left: 25%
    }
    .row .col.pull-m3 {
        right: 25%
    }
    .row .col.push-m3 {
        left: 25%
    }
    .row .col.offset-m4 {
        margin-left: 33.3333333333%
    }
    .row .col.pull-m4 {
        right: 33.3333333333%
    }
    .row .col.push-m4 {
        left: 33.3333333333%
    }
    .row .col.offset-m5 {
        margin-left: 41.6666666667%
    }
    .row .col.pull-m5 {
        right: 41.6666666667%
    }
    .row .col.push-m5 {
        left: 41.6666666667%
    }
    .row .col.offset-m6 {
        margin-left: 50%
    }
    .row .col.pull-m6 {
        right: 50%
    }
    .row .col.push-m6 {
        left: 50%
    }
    .row .col.offset-m7 {
        margin-left: 58.3333333333%
    }
    .row .col.pull-m7 {
        right: 58.3333333333%
    }
    .row .col.push-m7 {
        left: 58.3333333333%
    }
    .row .col.offset-m8 {
        margin-left: 66.6666666667%
    }
    .row .col.pull-m8 {
        right: 66.6666666667%
    }
    .row .col.push-m8 {
        left: 66.6666666667%
    }
    .row .col.offset-m9 {
        margin-left: 75%
    }
    .row .col.pull-m9 {
        right: 75%
    }
    .row .col.push-m9 {
        left: 75%
    }
    .row .col.offset-m10 {
        margin-left: 83.3333333333%
    }
    .row .col.pull-m10 {
        right: 83.3333333333%
    }
    .row .col.push-m10 {
        left: 83.3333333333%
    }
    .row .col.offset-m11 {
        margin-left: 91.6666666667%
    }
    .row .col.pull-m11 {
        right: 91.6666666667%
    }
    .row .col.push-m11 {
        left: 91.6666666667%
    }
    .row .col.offset-m12 {
        margin-left: 100%
    }
    .row .col.pull-m12 {
        right: 100%
    }
    .row .col.push-m12 {
        left: 100%
    }
}

@media only screen and (min-width:993px) {
    .row .col.l1,
    .row .col.l10,
    .row .col.l11,
    .row .col.l12,
    .row .col.l2,
    .row .col.l3,
    .row .col.l4,
    .row .col.l5,
    .row .col.l7,
    .row .col.l8,
    .row .col.l9 {
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l1 {
        width: 8.3333333333%
    }
    .row .col.l2 {
        width: 16.6666666667%
    }
    .row .col.l3 {
        width: 25%
    }
    .row .col.l4 {
        width: 33.3333333333%
    }
    .row .col.l5 {
        width: 41.6666666667%
    }
    .row .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l7 {
        width: 58.3333333333%
    }
    .row .col.l8 {
        width: 66.6666666667%
    }
    .row .col.l9 {
        width: 75%
    }
    .row .col.l10 {
        width: 83.3333333333%
    }
    .row .col.l11 {
        width: 91.6666666667%
    }
    .row .col.l12 {
        width: 100%
    }
    .row .col.offset-l1 {
        margin-left: 8.3333333333%
    }
    .row .col.pull-l1 {
        right: 8.3333333333%
    }
    .row .col.push-l1 {
        left: 8.3333333333%
    }
    .row .col.offset-l2 {
        margin-left: 16.6666666667%
    }
    .row .col.pull-l2 {
        right: 16.6666666667%
    }
    .row .col.push-l2 {
        left: 16.6666666667%
    }
    .row .col.offset-l3 {
        margin-left: 25%
    }
    .row .col.pull-l3 {
        right: 25%
    }
    .row .col.push-l3 {
        left: 25%
    }
    .row .col.offset-l4 {
        margin-left: 33.3333333333%
    }
    .row .col.pull-l4 {
        right: 33.3333333333%
    }
    .row .col.push-l4 {
        left: 33.3333333333%
    }
    .row .col.offset-l5 {
        margin-left: 41.6666666667%
    }
    .row .col.pull-l5 {
        right: 41.6666666667%
    }
    .row .col.push-l5 {
        left: 41.6666666667%
    }
    .row .col.offset-l6 {
        margin-left: 50%
    }
    .row .col.pull-l6 {
        right: 50%
    }
    .row .col.push-l6 {
        left: 50%
    }
    .row .col.offset-l7 {
        margin-left: 58.3333333333%
    }
    .row .col.pull-l7 {
        right: 58.3333333333%
    }
    .row .col.push-l7 {
        left: 58.3333333333%
    }
    .row .col.offset-l8 {
        margin-left: 66.6666666667%
    }
    .row .col.pull-l8 {
        right: 66.6666666667%
    }
    .row .col.push-l8 {
        left: 66.6666666667%
    }
    .row .col.offset-l9 {
        margin-left: 75%
    }
    .row .col.pull-l9 {
        right: 75%
    }
    .row .col.push-l9 {
        left: 75%
    }
    .row .col.offset-l10 {
        margin-left: 83.3333333333%
    }
    .row .col.pull-l10 {
        right: 83.3333333333%
    }
    .row .col.push-l10 {
        left: 83.3333333333%
    }
    .row .col.offset-l11 {
        margin-left: 91.6666666667%
    }
    .row .col.pull-l11 {
        right: 91.6666666667%
    }
    .row .col.push-l11 {
        left: 91.6666666667%
    }
    .row .col.offset-l12 {
        margin-left: 100%
    }
    .row .col.pull-l12 {
        right: 100%
    }
    .row .col.push-l12 {
        left: 100%
    }
}

@media only screen and (min-width:1201px) {
    .row .col.xl1,
    .row .col.xl10,
    .row .col.xl11,
    .row .col.xl12,
    .row .col.xl2,
    .row .col.xl3,
    .row .col.xl4,
    .row .col.xl5,
    .row .col.xl7,
    .row .col.xl8,
    .row .col.xl9 {
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl1 {
        width: 8.3333333333%
    }
    .row .col.xl2 {
        width: 16.6666666667%
    }
    .row .col.xl3 {
        width: 25%
    }
    .row .col.xl4 {
        width: 33.3333333333%
    }
    .row .col.xl5 {
        width: 41.6666666667%
    }
    .row .col.xl6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl7 {
        width: 58.3333333333%
    }
    .row .col.xl8 {
        width: 66.6666666667%
    }
    .row .col.xl9 {
        width: 75%
    }
    .row .col.xl10 {
        width: 83.3333333333%
    }
    .row .col.xl11 {
        width: 91.6666666667%
    }
    .row .col.xl12 {
        width: 100%
    }
    .row .col.offset-xl1 {
        margin-left: 8.3333333333%
    }
    .row .col.pull-xl1 {
        right: 8.3333333333%
    }
    .row .col.push-xl1 {
        left: 8.3333333333%
    }
    .row .col.offset-xl2 {
        margin-left: 16.6666666667%
    }
    .row .col.pull-xl2 {
        right: 16.6666666667%
    }
    .row .col.push-xl2 {
        left: 16.6666666667%
    }
    .row .col.offset-xl3 {
        margin-left: 25%
    }
    .row .col.pull-xl3 {
        right: 25%
    }
    .row .col.push-xl3 {
        left: 25%
    }
    .row .col.offset-xl4 {
        margin-left: 33.3333333333%
    }
    .row .col.pull-xl4 {
        right: 33.3333333333%
    }
    .row .col.push-xl4 {
        left: 33.3333333333%
    }
    .row .col.offset-xl5 {
        margin-left: 41.6666666667%
    }
    .row .col.pull-xl5 {
        right: 41.6666666667%
    }
    .row .col.push-xl5 {
        left: 41.6666666667%
    }
    .row .col.offset-xl6 {
        margin-left: 50%
    }
    .row .col.pull-xl6 {
        right: 50%
    }
    .row .col.push-xl6 {
        left: 50%
    }
    .row .col.offset-xl7 {
        margin-left: 58.3333333333%
    }
    .row .col.pull-xl7 {
        right: 58.3333333333%
    }
    .row .col.push-xl7 {
        left: 58.3333333333%
    }
    .row .col.offset-xl8 {
        margin-left: 66.6666666667%
    }
    .row .col.pull-xl8 {
        right: 66.6666666667%
    }
    .row .col.push-xl8 {
        left: 66.6666666667%
    }
    .row .col.offset-xl9 {
        margin-left: 75%
    }
    .row .col.pull-xl9 {
        right: 75%
    }
    .row .col.push-xl9 {
        left: 75%
    }
    .row .col.offset-xl10 {
        margin-left: 83.3333333333%
    }
    .row .col.pull-xl10 {
        right: 83.3333333333%
    }
    .row .col.push-xl10 {
        left: 83.3333333333%
    }
    .row .col.offset-xl11 {
        margin-left: 91.6666666667%
    }
    .row .col.pull-xl11 {
        right: 91.6666666667%
    }
    .row .col.push-xl11 {
        left: 91.6666666667%
    }
    .row .col.offset-xl12 {
        margin-left: 100%
    }
    .row .col.pull-xl12 {
        right: 100%
    }
    .row .col.push-xl12 {
        left: 100%
    }
}

@media only screen and (min-width:0) {
    html {
        font-size: 14px
    }
}

@media only screen and (min-width:992px) {
    html {
        font-size: 14.5px
    }
}

@media only screen and (min-width:1200px) {
    html {
        font-size: 15px
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 110%
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit
}

h2 {
    font-size: 3.56rem;
    margin: 1.78rem 0 1.424rem
}

h3 {
    font-size: 2.92rem;
    margin: 1.46rem 0 1.168rem
}

h4 {
    font-size: 2.28rem;
    margin: 1.14rem 0 .912rem
}

h5 {
    font-size: 1.64rem;
    margin: .82rem 0 .656rem
}

h6 {
    font-size: 1rem;
    margin: .5rem 0 .4rem
}

em {
    font-style: italic
}

strong {
    font-weight: 500
}

small {
    font-size: 75%
}

@media only screen and (min-width:360px) {
    .flow-text {
        font-size: 1.2rem
    }
}

@media only screen and (min-width:390px) {
    .flow-text {
        font-size: 1.224rem
    }
}

@media only screen and (min-width:420px) {
    .flow-text {
        font-size: 1.248rem
    }
}

@media only screen and (min-width:450px) {
    .flow-text {
        font-size: 1.272rem
    }
}

@media only screen and (min-width:480px) {
    .flow-text {
        font-size: 1.296rem
    }
}

@media only screen and (min-width:510px) {
    .flow-text {
        font-size: 1.32rem
    }
}

@media only screen and (min-width:540px) {
    .flow-text {
        font-size: 1.344rem
    }
}

@media only screen and (min-width:570px) {
    .flow-text {
        font-size: 1.368rem
    }
}

@media only screen and (min-width:600px) {
    .flow-text {
        font-size: 1.392rem
    }
}

@media only screen and (min-width:630px) {
    .flow-text {
        font-size: 1.416rem
    }
}

@media only screen and (min-width:660px) {
    .flow-text {
        font-size: 1.44rem
    }
}

@media only screen and (min-width:690px) {
    .flow-text {
        font-size: 1.464rem
    }
}

@media only screen and (min-width:720px) {
    .flow-text {
        font-size: 1.488rem
    }
}

@media only screen and (min-width:750px) {
    .flow-text {
        font-size: 1.512rem
    }
}

@media only screen and (min-width:780px) {
    .flow-text {
        font-size: 1.536rem
    }
}

@media only screen and (min-width:810px) {
    .flow-text {
        font-size: 1.56rem
    }
}

@media only screen and (min-width:840px) {
    .flow-text {
        font-size: 1.584rem
    }
}

@media only screen and (min-width:870px) {
    .flow-text {
        font-size: 1.608rem
    }
}

@media only screen and (min-width:900px) {
    .flow-text {
        font-size: 1.632rem
    }
}

@media only screen and (min-width:930px) {
    .flow-text {
        font-size: 1.656rem
    }
}

@media only screen and (min-width:960px) {
    .flow-text {
        font-size: 1.68rem
    }
}

@media only screen and (max-width:360px) {
    .flow-text {
        font-size: 1.2rem
    }
}

.scale-transition {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.53, .01, .36, 1.63)!important;
    transition: -webkit-transform .3s cubic-bezier(.53, .01, .36, 1.63)!important;
    transition: transform .3s cubic-bezier(.53, .01, .36, 1.63)!important;
    transition: transform .3s cubic-bezier(.53, .01, .36, 1.63), -webkit-transform .3s cubic-bezier(.53, .01, .36, 1.63)!important
}

.scale-transition.scale-out {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .2s!important;
    transition: -webkit-transform .2s!important;
    transition: transform .2s!important;
    transition: transform .2s, -webkit-transform .2s!important
}

.scale-transition.scale-in {
    -webkit-transform: scale(1);
    transform: scale(1)
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px
}

html {
    height: 100%;
    line-height: 1.5;
    background-color: #f2f2f2
}

.header-logo,
header {
    background-color: #1AB0A2;
    height: 60px
}

.row {
    margin-bottom: 0
}

.row.elements .col {
    min-height: 300px
}

.header-logo {
    cursor: pointer;
    float: left;
    width: 230px;
    overflow: hidden
}

footer,
footer .logo {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #009688
}

.header-logo .logo {
    float: left;
    margin-left: 8px;
    margin-top: -6px
}

.header-logo a {
    color: #f0f2f5;
    font-size: 25px;
    height: 60px;
    width: 230px;
    display: block
}

.header-logo a span {
    margin-left: 73px;
    margin-top: 12px;
    display: block
}

.header-link {
    float: right;
    font-size: 35px
}

.header-link i {
    margin: 12px 12px 0 0
}

.header-link:hover {
    text-decoration: underline
}

footer {
    bottom: 0;
    height: 50px;
    padding-top: 0
}

footer ul {
    overflow: hidden;
    margin: 0;
    height: 50px;
    padding-top: 15px
}

footer li {
    float: left;
    margin: 0 10px
}

footer .container {
    max-width: none;
    width: 100%
}

li.footer-icon {
    font-size: 25px;
    margin-top: -7px
}

footer .logo {
    bottom: 10px;
    height: 75px;
    width: 75px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 39px;
    background-position: center center;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 5
}

h5 {
    color: #E74646;
    text-align: left
}

.list-container {
    max-width: 550px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    margin-bottom: 30px
}

.images-container,
h1 {
    margin: auto
}

.grid-element {
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5)
}

.grid-element.active {
    color: rgba(0, 0, 0, .87)
}

.locales-list,
.row.locales a,
.row.locales h5,
.row.locales i,
h1 {
    color: #f0f2f5
}

.center-block {
    text-align: -moz-center;
    text-align: -webkit-center
}

.images-container img {
    width: 100%;
    max-width: 550px
}

.title {
    background: linear-gradient(#1AB0A2, #80cbc4)
}

.flex,
.row.elements {
    background-color: #fff
}

h1 {
    padding: 1.3em 1em 3em;
    font-size: 2em;
    max-width: 650px
}

h1, h5, h6, .list-container {font-family: Cooper Hewitt, sans-serif; font-weight: 700;}

.flex {
    display: flex;
    flex-wrap: wrap
}

.row .col {
    padding: 0
}

.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.hidden {
    display: none
}

.row.elements,
.row.locales,
.row.screenshots {
    max-width: 1200px;
    padding: 50px
}

.row.screenshots {
    margin-top: -50px
}

.row.elements {
    min-height: 400px
}

.row.locales {
    height: 250px;
    background-color: #009688
}

.row.locales .locale {
    font-size: 17px;
    font-weight: 700
}

.row.locales i {
    font-size: 120px
}

.row.locales .valign-wrapper {
    height: 100%
}

.row.locales .first {
    border-right: 1px solid #f0f2f5
}

.locales-list {
    text-align: left;
    margin-left: 50px
}

ul.locales-list>li {
    list-style-type: disc
}

.element {
    min-height: 300px;
    color: rgba(0, 0, 0, .5)
}

.element i {
    font-size: 50px;
    color: #E74646
}

.element.middle {
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf
}

.element h6 {
    font-size: 20px;
    color: #E74646
}

.element div {
    padding: 30px;
    font-size: 17px;
    text-align: left
}

@media (max-width:1199px) {
    .row.elements,
    .row.locales,
    .row.screenshots {
        padding: 15px;
        max-width: 800px
    }
}

@media (max-width:599px) {
    .element.middle,
    .row.locales .first {
        border: none
    }
}

.header-link {color: #fff;}
.header-logo {font-weight: 700; font-size: 25px; margin-top: 5px;}